{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": "airbnb",
  "rules": {
    "import": 0,
    "func-names": 0,
    "no-console": 0,
    "no-array-constructor": 0,
    "no-underscore-dangle": 0,
    "class-methods-use-this": 0,
    "arrow-body-style": [2, "as-needed"],
    "no-restricted-globals": [2, "!self"],
    "max-len": [2, {"ignoreComments": true, "code": 100}],
    "no-param-reassign": [2, {"props": false}],
    "no-unused-vars": [1, {"argsIgnorePattern": "res|next|^err"}]
  }
}